<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Items</title>
</head>
<body>
	<h1>Market Register</h1>
	<form action="updateItemList" method="post">
	<table>
		<tr>
			<th>ID#</th><th>Name</th><th>Price</th><th/><th>Active</th>
		</tr>
		<tr th:each="item : ${items}">
			<td th:text="${item.id}"/>
			<td th:text="${item.name}"/>
			<td th:text="${item.price}"/>
			<td><a th:href="@{/editItem/{id}(id=${item.id})}">Edit</a></td>
			<td><input type="checkbox" name="active" th:value="${item.id}" th:checked="${item.active}"/></td>
		</tr>
	</table>
	<input type="submit" value="Apply"/>
	</form>
	<a href="/addItem">Add New Item</a></br>
	<a href="/createOrder">Create an Order</a></br>
	<a href="/viewAllOrders">View All Orders</a>
</body>
</html>