<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Order Detail</title>
</head>
<body>
	<h1>Order #: <span th:text="${order.id}"></span></h1>
	<table>
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Price</td>
			<td/>
		</tr>
		<tr th:each="item : ${order.items}">
			<td th:text="${item.id}"/>
			<td th:text="${item.name}"/>
			<td th:text="${item.price}"/>
			<td><a th:href="@{/removeFromOrder/{order_id}/{item_id}(order_id=${order.id}, item_id=${item.id})}">Delete</a></td>
		</tr>
		<tr>
			<td>Total:</td>
			<td/>
			<td th:text="${orderTotal}"/>
			<td/>
		</tr>
	</table>
	<form th:action="@{/createTransaction/{id}(id=${order.id})}">
		<input type="submit"/>
	</form>
	<a href="/viewAllItems">View all Items</a>
	<a href="/viewAllOrders">View all Orders</a>
</body>
</html>